<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="pi" value="5752094300143328%3bm5752094300143328%3bhambert%3bLwKPCx4g64YyDuAJePwEE8Vr%2fvsQ7aKbM7vkOXyfeRlMTYaEdC8E0%2b1rXqi70ikD4PYVu9mu%2bLDwc6Kt9dHIQhR9zjl%2bLSc0YG0M9h26soXLymfdoMJZg4zPui4GLae2Pc7EtNZDVM6yxxtTRgJx0xi4t7dNM1VY6E2VR77VbHJH6WCK%2bgRKpVr6aRUrVPOm2%2b97vw6k%3b1WQ4750ntTxJfrzALKk%2bv21XzyAkGmtet0YwrpaIZVZlC0QmuqrGWLkHK8pbsaRVVBYt%2bujNGvK2hVqX3fEFv9R2EBjq5E8yEhQPz5zrzrAbGa867SLHcPu%2bmnEPPU%2bDg427%2bYxG0wX9WahV261rD%2fXVM8Uj8g%3d%3d"/>
    <add key="browser" value="360chrome.exe"/>
  </appSettings>
</configuration>